DEBUG=False

POSTGRES_DB_NAME=postgres
POSTGRES_DB_USER=user
POSTGRES_DB_PASSWORD=admin
POSTGRES_DB_HOST=127.0.0.1
POSTGRES_DB_PORT=54320

EMAIL_HOST=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

APP_PORT=8000
DOCUMENTATION_ENABLED=True

FRONTEND_HOST=http://localhost:3000
CORS_ORIGIN_WHITELIST=http://localhost:3000,http://test:3000
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://example.com
STATIC_FILES_HOST=http://localhost:8000

PARSER_API_LINK=
PARSER_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_REGION=
AWS_S3_CUSTOM_DOMAIN=

SERVE_API_LINK=
SERVE_API_KEY=
SERVE_BUCKET_NAME=

ALLOWED_EMAILS=

APP_CONFIG_SUBDOMAIN_TO_SET=
APP_CONFIG_ENVIRONMENT=
APP_CONFIG_A_RECORD_IP_SETUP=
APP_CONFIG_WWW_SETUP_URL=

MAX_PROJECT_MEDIA_UPLOAD_SIZE_MB=

MAX_REQUEST_FOR_UNAUTHENTICATED_USERS_PER_MIN=
MAX_REQUEST_FOR_AUTHENTICATED_USERS_PER_MIN=
MAX_REQUEST_FOR_AUTHENTICATED_USERS_IN_CUSTOM_ACTION_PER_MIN=


GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_REAL_TIME_DB_URL=

MAILER_LITE_TOKEN=
MAILER_LITE_GROUP_ID=
